<footer>
        <div class="footer" id="footer">
            <div class="container">
                <div class="row">
                   
                    
                    <p class="pull-left" style="margin-top: 25px"> Copyright ©  2014. All right reserved. </p>  
                    <div class="col-lg-3  col-md-3 col-sm-6 col-xs-12 " style="float: right">
                        <ul class="social">
                            <li> <a href="#"> <i class=" fa fa-facebook">   </i> </a> </li>
                            <li> <a href="#"> <i class="fa fa-twitter">   </i> </a> </li>
                            <li> <a href="#"> <i class="fa fa-google-plus">   </i> </a> </li>
                            <li> <a href="#"> <i class="fa fa-pinterest">   </i> </a> </li>
                            <li> <a href="#"> <i class="fa fa-youtube">   </i> </a> </li>
                        </ul>
                    </div>
                </div>
                <!--/.row--> 
            </div>
            <!--/.container--> 
        </div>
        <!--/.footer-->
        
        
        <!--/.footer-bottom--> 
    </footer>