<nav id="sidebar">
    <div class="sidebar-header">
        <h3>Learning Managment System</h3>
        <strong>LMS </strong>
    </div>

    <ul class="list-unstyled components">
        <li class="active">
            <a href="/">
                <i class="glyphicon glyphicon-home"></i>
                Home
            </a>
        </li>
        <li>
            <a href="/departments">
                <i class="glyphicon glyphicon-briefcase"></i>
                Departments
            </a>
            <a href="/courses">
                <i class="glyphicon glyphicon-duplicate"></i>
                Courses
            </a>
        </li>
        <li>
            <a href="/groups">
                <i class="glyphicon glyphicon-link"></i>
                Groups
            </a>
        </li>

        <%if(!CurrentUSer) { %>
            <% }else {%>

            <% if(CurrentUSer.usertype==0){ %>

        <li>
            <a href="/users">
                <i class="glyphicon glyphicon-paperclip"></i>
                Users
            </a>
        </li>

        <%}%>
        <%}%>

        <%if(!CurrentUSer) { %>
            <% }else {%>

            <% if(CurrentUSer.usertype==0){ %>
        <li>
            <a href="/mails">
                <i class="glyphicon glyphicon-send"></i>
                Mails
            </a>
        </li>
        <%}%>
        <%}%>

        <%if(!CurrentUSer) { %>
        <% }else {%>
            <li>
                <a href="/users/<%=CurrentUSer._id%>/subscriptions">
                    <i class="glyphicon glyphicon-user"></i>
                    My subscriptions
                </a>
            </li>
            <%}%>
    </ul>

</nav>
