<nav id="sidebar">
    <div class="sidebar-header">
        <h3>Learning Managment System</h3>
        <strong>LMS </strong>
    </div>

    <ul class="list-unstyled components">
        <li class="active">
            <a href="/">
                <i class="glyphicon glyphicon-home"></i>
                Home
            </a>
        </li>
        <li>
            <a href="/departments">
                <i class="glyphicon glyphicon-briefcase"></i>
                Departments
            </a>
            <a href="/courses">
                <i class="glyphicon glyphicon-duplicate"></i>
                Courses
            </a>
        </li>
        <li>
            <a href="/groups">
                <i class="glyphicon glyphicon-link"></i>
                Groups
            </a>
        </li>
        <li>
            <a href="/users">
                <i class="glyphicon glyphicon-paperclip"></i>
                Users
            </a>
        </li>
        <li>
            <a href="/mails">
                <i class="glyphicon glyphicon-send"></i>
                Mails
            </a>
        </li>
    </ul>

<<<<<<< HEAD
          <ul class="nav">
              <li class="active">
                  <a href="/groups">
                      <i class="pe-7s-graph"></i>
                      <p>Dashboard</p>
                  </a>
              </li>
              <li>
                  <a href="user.html">
                      <i class="pe-7s-user"></i>
                      <p>User Profile</p>
                  </a>
              </li>
              <li>
                  <a href="table.html">
                      <i class="pe-7s-note2"></i>
                      <p>Table List</p>
                  </a>
              </li>
              <li>
                  <a href="typography.html">
                      <i class="pe-7s-news-paper"></i>
                      <p>Typography</p>
                  </a>
              </li>
              <li>
                  <a href="icons.html">
                      <i class="pe-7s-science"></i>
                      <p>Icons</p>
                  </a>
              </li>
              <li>
                  <a href="maps.html">
                      <i class="pe-7s-map-marker"></i>
                      <p>Maps</p>
                  </a>
              </li>
              <li>
                  <a href="notifications.html">
                      <i class="pe-7s-bell"></i>
                      <p>Notifications</p>
                  </a>
              </li>
      <li class="active-pro">
                  <a href="upgrade.html">
                      <i class="pe-7s-rocket"></i>
                      <p>Upgrade to PRO</p>
                  </a>
              </li>
          </ul>
    </div>
  </div>
=======
</nav>
>>>>>>> 5237240bd9a448cfa857d7c4ece5051af8c34fb2
