<%include ./partials/header%>

<header class="jumbotron">
        <div class="container">
            <h1>FCIS Learning Managment System</h1>
            <p>platform that conect all univercity members and provide online services </p>
        </div>
    </header>

<%include ./partials/footer%>




