<%include ../partials/header%>
<div class="container">
        <header class="jumbotron">
            <div class="container">
            <h1 class="display-4">Mails</h1>
            <p class="lead">Here you can see some information about the mails had been sent throw the system and </p>

            <p>
               <a class="btn btn-primary btn-large" href="mails/new"> Send New Mail </a>
            </p>
             </div>
        </header>
        
    </div>

<%include ../partials/footer%>