<%include ../partials/header%>
<div class="container">

    <form action="/mails" method="POST">
        <div class="form-row">
            <div class="col-md-7">
            <label>Subject</label>
            <input type="text" class="form-control"name="subject" required="required"  placeholder="Subject">
            </div>
            <div class="col-md-5">
            <label>To</label>
            <div class="form-group">
                    <select class="selectpicker" name="recivers" multiple data-live-search="true" data-live-search-placeholder="Search" data-actions-box="true">
                    <optgroup label="Departments">                
                        <% departments.forEach(function (department) { %>
                            <option><%= department.name %></option>
                        <% }); %>
                    </optgroup>
                    <optgroup label="Users">
                        <% users.forEach(function (user) { %>                                                       
                            <option ><%= user.username %></option>
                        <% }); %>
                    </optgroup>
                    <optgroup label="Groups">
                        <% groups.forEach(function (group) { %>                                                       
                            <option><%= group.name %></option>
                        <% }); %>
                    </optgroup>
                    </select>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-8">
                    <br><br>
                    <label >Add More Mails</label>
                    
                <input type="text" name="more_mails" class="form-control"id="inlineFormInputGroup" value="ahmed" data-role="tagsinput" >        
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-12">
                <div class="form-group">
                    <br><br>                            
                    <label>Content</label>
                    <textarea class="form-control" rows="10" name="content" placeholder="Here can be your mail Content" required="required"></textarea>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-info btn-fill pull-right">Send Mail</button>
        <div class="clearfix"></div>
    </form>

   
</div>

<%include ../partials/footer%>