<% include ../partials/header %>

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="content">

                <% departments.forEach(function (department) { %>
                <div class="col-md-4">
                    <div class="card">
                        <div class="content">
                            <img width="200px" height="200px"
                                 src="http://muc.edu.om/Research_Centre/img/foundation.png">

                            <h5 class="pull-left"><%= department.name %></h5>

                            <a href="/departments/edit/<%= department._id %>"
                               class="btn btn-sm pull-right">Edit</a>

                            <a href="/departments/<%= department._id%>"
                               class="btn btn-sm pull-right">View</a>

                            <form style="display:inline;"
                                  action="/departments/<%= department._id %>?_method=DELETE"
                                  method="POST">
                                <button class="btn pull-right btn-sm">Delete</button>
                            </form>

                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <% }); %>
            </div>
        </div>
    </div>
</div>

<% include ../partials/footer %>
