<% include ../partials/header %>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">

                    <div class="header">
                        <h4 class="title">Create New Department</h4>
                    </div>

                    <div class="content">
                        <form action="/departments" method="POST" enctype="multipart/form-data">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label for="dep_name">Department Name</label>
                                        <input placeholder="Department Name" name="dep_name" type="text" class="form-control" required="required">
                                    </div>
                                </div>

                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label for="dep_key">Department Key</label>
                                        <input placeholder="Department Key" id="dep_key" type="text" name="dep_key"
                                               class="form-control"
                                               required="required">
                                    </div>
                                </div>

                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label for="textarea1">Department Description</label>
                                        <textarea placeholder="Description" id="textarea1" name="dep_description"
                                                  class="form-control"
                                                  data-length="400" required="required"></textarea>
                                    </div>
                                </div>

                                <div class="col-md-8">
                                    <div class="form-group">
                                        <br>
                                        <label for="basic" class="col-lg-2 control-label">Choose the admin</label>
                                        <div class="col-lg-8">
                                            <select id="basic" class="selectpicker show-tick form-control" data-live-search="true">
                                            <option>Ahmed MOhamed</option>
                                            <option >George Nabil</option>
                                            <option >Essam Mohamed</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                

                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label for="dep_date">Department Opened Since</label>
                                        <input id="dep_date" name="dep_date" type="number" placeholder="Ex:2014"
                                               class="form-control"
                                               required="required">
                                    </div>
                                </div>

                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label for="depart_desc">Department Description File</label>
                                        <input id="depart_desc" class="form-control" name="my_file" type="file"
                                               required="required">
                                    </div>
                                </div>

                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label for="courses_desc">Courses Description File</label>
                                        <input id="courses_desc" class="form-control" name="my_file" type="file"
                                               required="required">
                                    </div>
                                </div>

                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label for="dep_logo">Department logo</label>
                                        <input id="dep_logo" class="form-control" name="my_file" type="file"
                                               required="required">
                                    </div>
                                </div>

                                <div class="col-md-8">
                                    <button class="btn btn-info btn-fill pull-left" type="submit">Create Department
                                    </button>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


<% include ../partials/footer %>