<% include ../partials/header %>

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">

                    <div class="header">
                        <h2><img width="100px" src="http://muc.edu.om/Research_Centre/img/foundation.png">
                            <%= department.name %> Department</h2>
                    </div>

                    <div class="content">

                            <br/>

                            <fieldset>
                                <legend>Department Description</legend>
                                <p><%= department.description %></p>
                            </fieldset>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<% include ../partials/footer %>
