<% include ../partials/header %>

<div class="content">     
        <div class="container">
            <h2><%= department.name %> Department</h2>
            <p style="margin-top:-10px">
                    Since :<a> <%=department.since%></a>
                </p>
            <hr> 
            <div class="container">             
<div class="col-lg-9">
            <div class="panel panel-info ">
                    <div class="panel-heading">
                            <h3 class="panel-title"> Description</h3>
                          </div>
                <div  class="panel-body" style="margin-left:10px">
                        <input type="hidden" value="<%=department.description%>"id="course description">
                        <script>
                                document.write(document.getElementById("course description").value); 
                            </script>
                  </div> 
                </div>
                <div class='embed-responsive' style='padding-bottom:150%'>
                            
                        <p>Department Courses Description<p>
                                <a href="/uploads/<%= department.courses_file%>"  class="btn btn-success  "style="display : inline-block;float:left;" download >download</a>
                </div>
            </div>
            <div class="col-lg-3">
                   
            </div>
            </div>
            
</div>
</div>


<% include ../partials/footer %>
