<%include ../partials/header%>




<!--content-->
<div class="content">
<h1>This is the home page!</h1>
<li><a href="/Users/register">Sign Up!</a></li>
<li><a href="/Users/login">Login!</a></li>
<li><a href="/Users/logout">Logout!</a></li>
<!--content-->

</div>


<%include ../partials/footer%>