<%include ../partials/header%>




<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1>User Mangement</h1>
            <p>here add all users </p>
            <p>
                <a class="btn btn-primary btn-large" href="/Users/addstudents"> Add Users </a>
            </p>
        </div>
    </header>

    <h2> USERS </h2></div>
    <div id="exTab3" class="container">
        <ul  class="nav nav-pills">
            <li class="active">
                <a  href="#1b"  data-toggle="tab">Students</a>
            </li>
            <li><a href="#2b" data-toggle="tab">Teachers</a>
            </li>
            <li><a href="#3b" data-toggle="tab">Admins</a>

        </ul>

        <div class="tab-content clearfix">
            <div class="tab-pane active" id="1b">
                <h3>Same as example 1 but we have now styled the tab's corner</h3>
            </div>
            <div class="tab-pane" id="2b">
                <h3>We use the class nav-pills instead of nav-tabs which automatically creates a background color for the tab</h3>
            </div>
            <div class="tab-pane" id="3b">
                <h3>We applied clearfix to the tab-content to rid of the gap between the tab and the content</h3>
            </div>

        </div>
    </div>

</div>

<%include ../partials/footer%>