
<%include ../partials/header%>
<div class="container">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">

                    <div class="header">
                        <h4 class="title">Login</h4>
                        <br>
                    </div>

                    <div class="content">
                        <form action="/Users/login" method="POST">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>UserName:</label>
                                        <input type="text"  name="username" class="form-control" placeholder="Username" required>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Password:</label>
                                        <input type="password" name="password" class="form-control" placeholder="Password"  required >
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-8">
                                    <button class="btn btn-info btn-fill pull-left" type="submit"> login
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>





</div>

<%include ../partials/footer%>