
<%include ../partials/header%>
<div class="container">

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">

                    <div class="header">
                        <h4 class="title">Add students</h4>
                        <br>
                    </div>

                    <div class="content">
                        <form action="/Users/createstudents" method="POST">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label for="dep_name">Number of students</label>
                                        <input placeholder="Number of students" name="studentscount" type="number" class="form-control" required="required">
                                    </div>
                                </div>


                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="dep_key">Department serial</label>
                                        <input placeholder="Department serial"  id="collage_serial" type="text" name="collage_serial"
                                               class="form-control"
                                               required="required">
                                    </div>
                                </div>
                            </div>

                            <br><br>
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label class=" control-label">Choose department</label>
                                        <div class="">
                                            <select  name="departemnt_name" id="basic" class="selectpicker show-tick form-control" data-live-search="true">
                                                <% departments.forEach(function (department){ %>

                                                <option value="<%=department.key%>"> <%=department.name+" "+department.key%> </option>

                                               <% })%>

                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">

                                    <div class="form-group">
                                        <label class=" control-label">Choose Year</label>
                                        <div class="">
                                            <select  name="year" id="basic" class="selectpicker show-tick form-control" data-live-search="true">

                                                <% var d = new Date();  var i = d.getFullYear()-4;  var n = i+10; %>
                                                <% for( i;i<n;i++){%>

                                                <option value="<%=i%>"> <%=i%> </option>

                                                <%}%>

                                            </select>
                                        </div>
                                    </div>



                                </div>
                            </div>
                            <br><br><br>

                            <br><br>
                            <div class="row">
                                <div class="col-md-8">
                                    <button class="btn btn-info btn-fill pull-left" type="submit">Add students
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>





</div>

<%include ../partials/footer%>