<h1>Sign Up Form</h1>

<form action="/Users/register" method="POST">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <button>Submit</button>
</form>

<li><a href="/Users/register">Sign Up!</a></li>
<li><a href="/Users/login">Login!</a></li>
<li><a href="/Users/logout">Logout!</a></li>


<%if(!CurrentUSer) { %>
<li><h3> no currentuser </h3> </li>

<% }else {%>
<li><h3> <%= CurrentUSer.username %></h3> </li>

<%}%>