<%include ../partials/header%>

<style>
hr{
    border-top: 1px solid #8c8b8b;
}
img{
    width: 200px;
    height:242px;
   
}


</style>

<h3>My Courses</h3>
<hr>
<div class="row">
  <div class="col-sm-3 col-md-3">
    <div class="thumbnail">
      <img src="/userimage/user_male2-512.png" alt="descrption ">
      <div class="caption">
        <h3>Course Name</h3>
        <p>descrption </p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-3 col-md-3">
    <div class="thumbnail">
    <img src="/userimage/user_male2-512.png" alt="descrption ">
      <div class="caption">
        <h3>Course Name</h3>
        <p>descrption </p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-3 col-md-3">
    <div class="thumbnail">
    <img src="/userimage/user_male2-512.png" alt="descrption ">
      <div class="caption">
        <h3>Course Name</h3>
        <p>descrption </p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>

</div> 

<h3>My groups</h3>
<hr>
<div class="row">
<div class="col-sm-3 col-md-3">
    <div class="thumbnail">
      <img src="/userimage/user_male2-512.png" alt="descrption ">
      <div class="caption">
        <h3>Course Name</h3>
        <p>descrption </p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
</div>
  




<%include ../partials/footer%>