<%include ../partials/header%>
<style>
hr{
    border-top: 1px solid #8c8b8b;
}
img{
    width: 200px;
    height:242px;
   
}


</style>

<h3>My Courses</h3>
<hr>
<% Mycourses.forEach(function(course){ %>
   <div style="display:inline-block; width:20%; margin:2.5%;" >
     <div class="thumbnail" >
      <img src="/userimage/user_male2-512.png" alt="descrption ">
      <div class="caption">
        <h3><%=course.name%></h3>
        <p style="overflow:auto; height:100px; " ><%=course.description%></p>
        <a href="/courses/<%course._id%>" class="btn btn-primary" role="button" style="margin:auto;">view Course</a> 
      </div>
    </div>
  </div>
<%})%>

<div style="display:inline-block; width:20%; margin:2.0%;" >
    <div class="thumbnail" >
     <img src="/userimage/user_male2-512.png" alt="descrption ">
     <div class="caption">
       <h3>name</h3>
       <p style="overflow:auto; height:100px; " >description%</p>
       <a href="/courses/group.id>" class="btn btn-primary" role="button" style="margin:auto;">view Course</a> 
     </div>
   </div>
 </div>
 <div style="display:inline-block; width:20%; margin:2.0%;" >
    <div class="thumbnail" >
     <img src="/userimage/user_male2-512.png" alt="descrption ">
     <div class="caption">
       <h3>name</h3>
       <p style="overflow:auto; height:100px; " >description%</p>
       <a href="/courses/group.id>" class="btn btn-primary" role="button" style="margin:auto;">view Course</a> 
     </div>
   </div>
 </div>
  


<h3>My groups</h3>
<hr>

<div style="display:inline-block; width:20%; margin:2.5%;" >
    <div class="thumbnail" >
     <img src="/userimage/user_male2-512.png" alt="descrption ">
     <div class="caption">
       <h3>name</h3>
       <p style="overflow:auto; height:100px; " >description%</p>
       <a href="/courses/group.id>" class="btn btn-primary" role="button" style="margin:auto;">view Course</a> 
     </div>
   </div>
 </div>
  




<%include ../partials/footer%>