<%include ../partials/header%>
<div class="container" >
        <div class="row">
             <h1 style="text-align: center;"> Add a New Post to <%= group.name %> </h1>
        
             <div style="width:30%; margin:25px auto;">
               <form action="/groups/<%= group._id %>/posts" method="POST" >
                <div class="form-group"> 
                        <input class="form-control" type="text" name="image" placeholder=" Image Url..." >
                        <input class="form-control"  type="text" name="content" placeholder="Entey your Post..." >
                        
                </div>
               <div class="form-group">
                  <button class="btn btn-lg btn-primary btn-block"> Post!!</button>
                </div>
               </form>
              </div>
        </div>
        </div>
 <%include ../partials/footer%>